
@{
    ViewBag.Title = "Settings Leave Allotments";
}
<link href="~/Scripts/app/LeaveVersion2/utilities/sweetalert2.min.css" rel="stylesheet" />
<link href="~/Scripts/app/LeaveVersion2/utilities/toastr.min.css" rel="stylesheet" />
<link href="~/Content/leave/utility2.min.css" rel="stylesheet" />


<script src="~/Scripts/app/LeaveVersion2/utilities/angular.min.js"></script>
<script src="~/Scripts/app/LeaveVersion2/utilities/app/app.min.js"></script>
<script src="~/Scripts/app/LeaveVersion2/utilities/sweetalert2.min.js"></script>
<script src="~/Scripts/app/LeaveVersion2/utilities/toastr.min.js"></script>
<script src="~/Scripts/app/LeaveVersion2/utilities/controller/allotmentCtrl.min.js"></script>

<h4>Settings Leave Allotments</h4>

<div ng-app="HRISLeaveForm" ng-controller="allotmentCtrl">
	<div class="box">
		<div class="box-header">
			<div class="row">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-8">
					<div style="text-align:right;padding-top:5px;">
						<a href="#" ng-click="clearModalInput()" class="btn btn-primary" style="width:180px;" data-toggle="modal" data-target=".bs-example-modal-md"><i class="fa fa-plus " style="padding-right:5px"></i>Add Allotment Values</a>
					</div>
				</div>
			</div>
        

		</div><!-- /.box-header -->
		<div class="box-body">
			<div class="col-md-3 col-xs-3">
				<select class="pull-left form-control" ng-init="itemsPerPage = '10'" ng-model="itemsPerPage" ng-change="perPage()">
					<option value="10">10</option>
					<option value="20">20</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-md-3 col-xs-3 pull-right">
				<input type="text" value="" ng-model="query" class="form-control" ng-change="perPage();" placeholder=" search ...." />
			</div>
			<table id="example1" class="table table-bordered table-striped">
				<thead>
				<tr>
					<th style="width:100px;text-align:center;">Status</th>
					<th style="width:120px;text-align:center;">Code</th>
					<th style="width:auto;">Description</th>
					<th style="width:200px;text-align:center;">Value</th>
					<th style="width:180px;text-align:center;">Action</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="a in pagedItems[currentPage]">
					<td style="text-align:center;"><span class="label label-{{  a.IsActive==1 ? 'success' : 'danger' }}">{{ a.IsActive==1 ? "ACTIVE" : "INACTIVE" }}</span></td>
					<td style="text-align:center;">{{ a.Code}}</td>
					<td>{{ a.Description }}</td>
					<td style="text-align:center;"><strong>{{ a.Value }}</strong> {{a.IsCalendarDays ? "  Calendar Day(s)" : "  Working Day(s)"}}</td>
					<td style="text-align:center;">
						<a href=" #" ng-click="editAlot(a)" class="btn btn-primary btn-xs btn-table" ng-init="DataExist=false;" data-toggle="modal" data-target=".bs-example-modal-md">
							<i class=" fa fa-edit" style="padding-right:5px;"></i>Edit
						</a>
						@*<a href=" #" ng-click="removeAlot(a)" class="btn btn-danger btn-xs " ng-init="DataExist=false;">
                                <i class="fa fa-trash" style="padding-right:5px;"></i>Remove
                            </a>*@
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr>
					<th style="width:100px;text-align:center;">Status</th>
					<th style="width:120px;text-align:center;">Code</th>
					<th style="width:auto;">Description</th>
					<th style="width:200px;text-align:center;">Value</th>
					<th style="width:180px;text-align:center;">Action</th>
				</tr>
				<tr>
					<td colspan="5">
						<div class="pull-right">
							<ul class="pagination" ng-if="validPage">
								<li ng-class="{disabled: currentPage == 0}">
									<a href ng-click="prevPage()">« Prev</a>
								</li>

								<li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
								    ng-class="{active: n == currentPage}"
								    ng-click="setPage()">
									<a href ng-bind="n + 1">1</a>
								</li>

								<li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
									<a href ng-click="nextPage()">Next »</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				</tfoot>
			</table>
		</div><!-- /.box-body -->
		<!-- /.box -->

	</div>

	<div id="myModalAllotment" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-hidden="true" style="display:none; padding-right: 16px;" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#357ca5;color:white">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white" ng-click="closeModal()"><span aria-hidden="true">×</span></button>
					<h3 class="modal-title" id="myModalLabel2">{{titleHead}} Allotment Values</h3>
				</div>
				<div class="modal-body">

					<div class="form-group" ng-if="DataExist" ng-init="DataExist=false">
						<div class="alert alert-danger">
							<h4><i class="icon fa fa-ban"></i> Data already exist!</h4>
						</div>
					</div>
					<form class="form-horizontal">
						<div class="box-body">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label" style="padding-left:0px">Leave Type</label>
								<div class="col-sm-10" style="padding-left:0px">
									<select class=" form-control input-lg" ng-model="a.LeaveCode" ng-change="DataExist = false">
										<option ng-repeat="al in loadcboAls" value="{{al.NumCode}}">{{al.Description}} ({{al.Code}} )</option>
									</select>
								</div>

							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label" style="padding-left:0px">Allotment</label>

								<div class="col-sm-3" style="padding-left:0px">
									<input ng-model="a.Value" ng-change="DataExist = false" class="form-control input-lg" type="number" placeholder="Value" style="text-align:center;">
								</div>
								<div class="col-sm-7" style="padding-left:0px">

									<select class="form-control input-lg" ng-change="DataExist = false" ng-model="a.IsCalendarDays">
										<option ng-selected="unit == item.id" ng-repeat="item in units" ng-value="item.id">{{item.label}}</option>
									</select>
								</div>

							</div>


						</div>
						<!-- /.box-body -->
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="closeModal()">Close</button>
					<button ng-click="newAlot()" ng-if="showNew" ng-int="showNew=true" type="button" class="btn btn-primary">Save changes</button>
					<button ng-click="updateAlot()" ng-if="showUpdate" ng-init="showUpdate=true" type="button" class="btn btn-primary">Update changes</button>
				</div>
			</div>
		</div>
	</div>
	@*-----MODAL BODY----------*@
</div>