
@{
	ViewBag.Title = "Unauthorized Access";

	<div class="jumbotron" style="color: red;">
		<p>@Session["DeniedAccessMsg"].ToString()</p>
	</div>
	<a href="@Url.Action("Index", "Home")" class="btn btn-default btn-flat"><i class="fa fa-home"></i> Home</a>

}