@{
    ViewBag.Title = "Ledger Description";
}

<script src="~/Scripts/app/LeaveVersion2/utilities/app/app.js"></script>
<script src="~/Scripts/app/LeaveVersion2/utilities/controller/ledgerDescriptionCtrl.js"></script>


<div ng-app="HRISLeaveForm" ng-controller="ledgerDescriptionCtrl">
    <div class="box">
        <div class="box-header">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <div style="text-align:right;padding-top:5px;">
                        <a href="#" ng-click="clearModalInput()" class="btn btn-primary" style="width:150px;" data-toggle="modal" data-target=".bs-example-modal-md"><i class="fa fa-plus " style="padding-right:5px"></i>Add Ledger Code</a>
                    </div>
                </div>
            </div>


        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-3 col-xs-3">
                <select class="pull-left form-control" ng-init="itemsPerPage = '10'" ng-model="itemsPerPage" ng-change="perPage()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-md-3 col-xs-3 pull-right">
                <input type="text" value="" ng-model="query" ng-change="perPage()" class=" form-control" placeholder="Search ...." />
            </div>
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:100px;text-align:center;">Status</th>
                        <th style="width:120px;text-align:center;">Code</th>
                        <th style="width:auto;">Description</th>
                        <th style="width:180px;text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lc in pagedItems[currentPage]">
                        <td style="text-align:center;"><span class="label label-{{  lc.IsActive ? 'success' : 'danger' }}">{{ lc.IsActive ? "ACTIVE" : "INACTIVE" }}</span></td>
                        <td style="text-align:center;">{{ lc.Code}}</td>
                        <td>{{ lc.Description }}</td>
                        <td style="text-align:center;">
                            <a href=" #" ng-click="editLedger(lc)" class="btn btn-primary btn-xs btn-table" ng-init="DataExist=false;" data-toggle="modal" data-target=".bs-example-modal-md">
                                <i class=" fa fa-edit" style="padding-right:5px;"></i>Edit
                            </a>
                            @*<a ng-click="removeLedger(lc)" class="btn btn-danger btn-xs "><i class="fa fa-trash" style="padding-right:5px;"></i>Remove</a>*@
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width:100px;text-align:center;">Status</th>
                        <th style="width:120px;text-align:center;">Code</th>
                        <th style="width:auto;">Description</th>
                        <th style="width:180px;text-align:center;">Action</th>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="pull-right">
                                <ul class="pagination" ng-if="validPage">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>

                                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                        ng-class="{active: n == currentPage}"
                                        ng-click="setPage()">
                                        <a href ng-bind="n + 1">1</a>
                                    </li>

                                    <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div><!-- /.box-body -->
        <!-- /.box -->

    </div>

    <div class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-hidden="true" style="display:none; padding-right: 16px;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#357ca5;color:white">

                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>*@

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white" ng-click="closeModal()"><span aria-hidden="true">×</span></button>
                    <h3 class="modal-title" id="myModalLabel2">{{titleHead}} Ledger Code</h3>
                </div>
                <div class="modal-body">

                    <div class="form-group" ng-if="DataExist" ng-init="DataExist=false">
                        <div class="alert alert-danger">
                            <h4><i class="icon fa fa-ban"></i> Data already exist!</h4>
                        </div>
                    </div>
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label" style="padding-left:0px">Code</label>
                                <div class="col-sm-7" style="padding-left:0px">
                                    <input ng-model="lc.Code" ng-change="lc.Code=(lc.Code).toUpperCase();DataExist=false" class="form-control input-lg" type="text" placeholder="Ledger Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label" style="padding-left:0px">Description</label>
                                <div class="col-sm-10" style="padding-left:0px">
                                    <input ng-model="lc.Description" ng-change="lc.Description=(lc.Description).toUpperCase();DataExist=false" class="form-control input-lg" type="text" placeholder="Description">
                                </div>
                            </div>

                            <!-- /.Switch   Active/Inactive -->

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                <div class="col-sm-8" style="padding-left:0px">
                                    <div class="col-xs-1" style="padding-left:0px">
                                        <input ng-model="lc.IsActive" ng-change="DataExist=false;" type="checkbox" ng-false-value="false" ng-true-value="true" class="icheckbox_flat-blue" checked="" style="position: absolute;">
                                    </div>
                                    <div class="col-xs-8" style="padding-left:0px">
                                        <p style="text-align:left; padding-top:3px; font-size:16px;color:#616161;">Active Ledger Code?</p>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="closeModal()">Close</button>
                    <button ng-click="newLedger()" ng-if="showNew" ng-int="showNew=true" type="button" class="btn btn-primary">Save changes</button>
                    <button ng-click="updateLedger()" ng-if="showUpdate" type="button" ng-init="showUpdate=true" class="btn btn-primary">Update changes</button>
                </div>
            </div>
        </div>
    </div>
    @*-----MODAL BODY----------*@
</div>


