@{
    ViewBag.Title = "About";
}
<link href="~/Content/rtable.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<hr/>

<h2>Responsive collapse (by column)</h2>
<div class="Rtable Rtable--2cols Rtable--collapse">

    <div style="order: 0;" class="Rtable-cell Rtable-cell--head">
        <h3>Eddard Stark</h3>
    </div>

    <div style="order: 1;" class="Rtable-cell">Has a sword named Ice</div>

    <div style="order: 2;" class="Rtable-cell">No direwolf</div>

    <div style="order: 3;" class="Rtable-cell Rtable-cell--foot"><strong>Lord of Winterfell</strong>
    </div>

    <div style="order: 0;" class="Rtable-cell Rtable-cell--head">
        <h3>Jon Snow</h3>
    </div>

    <div style="order: 1;" class="Rtable-cell">Has a sword named Longclaw</div>

    <div style="order: 2;" class="Rtable-cell">Direwolf: Ghost</div>

    <div style="order: 3;" class="Rtable-cell Rtable-cell--foot"><strong>Knows nothing</strong>
    </div>
</div>


<h2>Responsive collapse (by row)</h2>
<div class="Rtable Rtable--4cols Rtable--collapse">

    <div class="Rtable-cell Rtable-cell--head"><h3>Eddard Stark</h3></div>
    <div class="Rtable-cell">Has a sword named Ice</div>
    <div class="Rtable-cell">No direwolf</div>
    <div class="Rtable-cell Rtable-cell--foot"><strong>Lord of Winterfell</strong></div>

    <div class="Rtable-cell Rtable-cell--head"><h3>Jon Snow</h3></div>
    <div class="Rtable-cell">Has a sword named Longclaw</div>
    <div class="Rtable-cell">Direwolf: Ghost</div>
    <div class="Rtable-cell Rtable-cell--foot"><strong>Knows nothing</strong></div>

</div>