@{
    ViewBag.Title = "Edit";
}

@*<link href="~/Content/leave/rtable.css" rel="stylesheet" />*@

@if (!ViewBag.ModuleAdmin)
{
	<div class="well well-sm">Ooops! Sorry you have insufficient access right.</div>
}
else
{
	<h4>Edit Approved Leave</h4>
	<petsa2></petsa2>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">
				<div>
					<empleyado v-model="employee" v-once v-on:change="employee && getApprovedLeave(employee.EIC)" style="width: 85%"></empleyado>
					<button class="btn btn-default" v-on:click="getApprovedLeave(employee.EIC)">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
				</div>
			</div>
		</div>
		<div id="my-leave-history" class="panel-collapse" v-if="leaveApproved && leaveApproved.length>0">

			<div class="Rtable Rtable--8cols Rtable--collapse" v-for="item in leaveApproved">

				<div class="Rtable-cell Rtable-cell--head">
					<b>{{ item.LeaveDescription }}</b><br />
					<small>Filed on: {{ item.dateFiled | redenDateFormat }}</small>
				</div>
				<div class="Rtable-cell">
					From: <b>{{ item.periodFrom | redenDateFormat }}</b>
				</div>
				<div class="Rtable-cell">
					To: <b>{{ item.periodTo | redenDateFormat }}</b>
				</div>
				<div class="Rtable-cell">
					Days: <b>{{ item.applyDay }}</b> day(s)
				</div>
				<div class="Rtable-cell" v-if="item.place=='PH'">
					Location: <b>{{ item.place }}</b>
				</div>
				<div class="Rtable-cell" v-else>
					Location: <b>{{ item.place }} - {{ item.location }}</b>
				</div>
				<div class="Rtable-cell">
					<button class="btn btn-primary btn-sm" v-on:click="editLeave(item.leave)" data-toggle="modal" data-target="#myModal">
						<i class="glyphicon glyphicon-pencil"></i> Edit
					</button>
				</div>
			</div>

		</div>
		<div class="panel-collapse" v-if="leaveApproved && leaveApproved.length==0" style="padding: 10px 15px;">
			<h5>Found nothing...</h5>
		</div>
	</div>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" v-on:click="leaveToEdit = null">&times;</button>
					<h4 class="modal-title">Edit Approved Leave</h4>
				</div>

				<div class="modal-body" v-if="leaveToEdit">
					
					<div class="form-group">
						<label for="leave-type">Leave selected:</label>
						<leave-type id="leave-type" v-model="leaveToEdit.leaveID" v-once style="width: 100%"></leave-type>
					</div>

					<div class="form-group">
						<label for="leave-place">Location:</label>
						<leave-location id="leave-place" v-model="leaveToEdit.place"></leave-location>
					</div>

					<div class="form-group" v-if="leaveToEdit.leaveID==40302">
						<label for="leave-location">Specific Location:</label>
						<input id="leave-location" type="text" class="form-control" v-model="leaveToEdit.location"/>
					</div>

					<div class="form-group">
						<label for="leave-period-from">Date From:</label>
						<petsa ref="leave-period-from" id="leave-period-from" v-model="leaveToEdit.periodFrom" style="width: 100%" v-on:change="computeNumDays"></petsa>
					</div>

					<div class="form-group">
						<label for="leave-period-to">Date To:</label>
						<petsa ref="leave-period-to" id="leave-period-to" v-model="leaveToEdit.periodTo" style="width: 100%" v-on:change="computeNumDays"></petsa>
					</div>

					<div class="form-group">
						<label for="days">Day(s):</label>
						<input type="number" readonly id="days" v-model="leaveToEdit.applyDay" class="form-control"/>
					</div>

					<div class="form-group">
						<label for="commutation">Location:</label>
						<leave-commutation id="commutation" v-model="leaveToEdit.commutation"></leave-commutation>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" v-on:click="submitUpdate(leaveToEdit)" data-dismiss="modal">Update</button>
					<button type="button" class="btn btn-default" v-on:click="leaveToEdit = null" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

}

@{
	var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
	var serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
	var controllerUrl = Url.Content("~") + controllerName;
}

@Scripts.Render("~/Scripts/app/" + controllerName + "/vue-edit.js")