
@{
    ViewBag.Title = "LeaveCard";
}
<link href="~/Content/leave/leave-card.css" rel="stylesheet"/>

<div id="leave-card" class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title"><b>Leave Card</b>
        </div>
    </div>
    <div id="leave-card-table">
        <table class="table table-bordered panel-body" style="-webkit-font-size-adjust: .4; -ms-font-size-adjust: .4; -o-font-size-adjust: .4; font-size-adjust: .4;">
            <thead>
            <tr>
                <td rowspan="2" width="200px" style="vertical-align: middle;">Period</td>
                <td rowspan="2" width="390px" style="vertical-align: middle;">DTR Period</td>
                <td rowspan="2" width="200px" style="vertical-align: middle;">Particulars</td>
                <td colspan="4" style="vertical-align: middle;">Vacation Leave</td>
                <td colspan="4" style="vertical-align: middle;">Sick Leave</td>
                <td rowspan="2" style="vertical-align: middle;">Total</td>
            </tr>
            <tr>
                <td width="100px" style="vertical-align: top;">Earned</td>
                <td width="100px" style="vertical-align: top;">Absent / Undertime With Pay</td>
                <td width="100px" style="vertical-align: top;">Balance</td>
                <td width="100px" style="vertical-align: top;">Absent / Undertime Without Pay</td>
                <td width="100px" style="vertical-align: top;">Earned</td>
                <td width="100px" style="vertical-align: top;">Absent / Undertime With Pay</td>
                <td width="100px" style="vertical-align: top;">Balance</td>
                <td width="100px" style="vertical-align: top;">Absent / Undertime Without Pay</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(itemObjKey, data) in leavecard">
                <td>{{data.Period | dateFormat}}</td>
                <td>{{data.DTRPeriod}}</td>
                <td>{{data.Particular}} {{data.SubParticular}}</td>
                <td class="text-right">{{data.VLEarned | redenNumberFormat}}</td>
                <td class="text-right">{{data.VL_ABS_UND_WP | redenNumberFormat}}</td>
                <td class="text-right">{{data.runningVLBalance | redenNumberFormat}}</td>
                <td class="text-right">{{data.VL_ABS_UND_WOP | redenNumberFormat}}</td>
                <td class="text-right">{{data.SLEarned | redenNumberFormat}}</td>
                <td class="text-right">{{data.SL_ABS_UND_WP | redenNumberFormat}}</td>
                <td class="text-right">{{data.runningSLBalance | redenNumberFormat}}</td>
                <td class="text-right">{{data.SL_ABS_UND_WOP | redenNumberFormat}}</td>
                <td class="text-right">{{ (data.runningVLBalance + data.runningSLBalance) | redenNumberFormat }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    var serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    var controllerUrl = Url.Content("~") + controllerName;
}
@Scripts.Render("~/Scripts/app/" + controllerName + "/leave-card.js")

@Scripts.Render("~/Scripts/app/" + controllerName + "/vue-leave-card.js")
