@{
    ViewBag.Title = "Recommend Leave Request";
}
<style>
     tbody > tr:hover {
         background-color: #E3F2FD;
         color: #000000;
     }
     div.panel {
         box-shadow: 4px 4px 5px 0px #90CAF9;
     }

    button {
        box-shadow: 3px 3px 2px 0px #dcdcdc;
    }
</style>
<div id="recommend">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <strong>LEAVE REQUEST THAT NEEDS YOUR ACTION</strong>
            </div>
        </div>
        <table class="table" v-if="leaveRequests">
            <thead>
            <tr>
                <th>Date Filed</th>
                <th>Employee Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody v-for="item in leaveRequests">
            <tr>
                <td>{{ item.dateFiled|redenDateFormat }}</td>
                <td>{{ item.Fullname }}</td>
                <td>
                    <button v-on:click="viewLeaveRequest(item)" class="btn btn-default btn-sm" title="View Leave Request"><span class="glyphicon glyphicon-eye-open"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="leaveRequestModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 80%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="color: white; background-color: #002984;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">LEAVE REQUEST DETAIL</h4>
            </div>

            <table id="leaveTable" class="table modal-body">
                <thead>
                <tr style="color: white; background-color: #3f51b5;">
                    <td>
                        <small>OFFICE</small>
                        <h5><strong>{{ itemProfile.accronymOffice }}</strong></h5>
                    </td>
                    <td colspan="3">
                        <small>NAME(LAST, FIRST)</small>
                        <h5><strong>{{ itemProfile.idNo }} {{ itemProfile.fullnameLast }}</strong></h5>
                    </td>
                    <td colspan="2">
                        <small>POSITION</small>
                        <h5><strong>{{ itemProfile.fullDescription }}</strong></h5>
                    </td>
                </tr>
                <tr style="color: white; background-color: #757de8;">
                    <th>Type</th>
                    <th>Period</th>
                    <th># Days</th>
                    <th>Location</th>
                    <th>Commutation?</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody v-for="(key, leave) in itemViewed">
                    <tr>
                        <td>{{ leave.LeaveDescription }}
                            <span v-if="leave.IsVLUsedAsSL==true"><br />(Used as SICK LEAVE)</span></td>
                        <td>Fr: {{ leave.periodFrom|redenDateFormat }}<br />To: {{ leave.periodTo|redenDateFormat }}</td>
                        <td>{{ leave.applyDay }}</td>
                        <td>{{ leave.place + " " + leave.location }}</td>
                        <td>{{ leave.commutation == 1 ? "Yes" : "No" }}</td>
                        <td>
                            <div v-if="leave.IsRecommendedAtOffice==true">
                                <button type="button" class="btn btn-danger btn-sm" title="Deny" v-on:click=" recommend(leave, false, this)">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> DENY
                                </button>
                            </div>
                            <div v-if="leave.IsRecommendedAtOffice==false">
                                <button type="button" class="btn btn-success btn-sm" title="Recommend" v-on:click="recommend(leave, true, this)">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> RECOMMEND
                                </button>
                            </div>
                            <div v-if="leave.IsRecommendedAtOffice==null">
                                <button type="button" class="btn btn-danger btn-sm" title="Deny" v-on:click=" recommend(leave, false, this)">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> DENY
                                </button>
                                <button type="button" class="btn btn-success btn-sm" title="Recommend" v-on:click="recommend(leave, true, this)">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> RECOMMEND
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="promptArea"></div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button id="btnClose" type="button" class="btn btn-default" title="Close this form" v-on:click="closeForm">CLOSE</button>
                    @*<button id="btnDenyAll" type="button" class="btn btn-danger" title="Deny all leave request" v-if="itemViewed" v-on:click="denyAll">DENY ALL</button>
                    <button id="btnRecommendAll" type="button" class="btn btn-success" title="Recommend all leave request" v-if="itemViewed" v-on:click="recommendAll">RECOMMEND ALL</button>*@
                </div>
            </div>
        </div>

    </div>
</div>


@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    var serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    var controllerUrl = Url.Content("~") + controllerName;
}
@Scripts.Render("~/Scripts/app/" + controllerName + "/recommend.js")

@Scripts.Render("~/Scripts/app/" + controllerName + "/vue-recommend.js")