
@{
    ViewBag.Title = "Report";
}

<style>
    tbody > tr:hover {
        background-color: #E3F2FD;
        color: #000000;
    }

    div.panel {
        box-shadow: 4px 4px 5px 0px #90CAF9;
    }

    button {
        box-shadow: 3px 3px 2px 0px #dcdcdc;
    }
</style>

@if (!ViewBag.ModuleAdmin)
{
    <div class="well well-sm">Ooops! Sorry you have insufficient access right.</div>
}
else
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <strong>LEAVE CREDIT CERTIFICATION</strong>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9" style="padding-bottom: 1em;">
                    <div class="form-horizontal">
                        <input id="officeCode" style="width: 100%;" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="padding-bottom: 1em;">
                    <div class="form-horizontal">
                        <button class="btn btn-sm btn-primary" v-on:click="getLeaveRequestsForHRRecommendation">View</button>
                        <button class="btn btn-sm btn-info" v-if="leaveRequestsForHR.length>0" v-on:click="getLeaveRequestsForHRRecommendation"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                    </div>
                </div>
            </div>

            <!-- Acted leave request -->
            <div v-for="(key, leave) in getActedByHR(leaveRequestsForHR)" style="padding-bottom: 1em;">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="empName" style="font-size: 8pt; color: teal;">ID # / Name(Last, First)</label>
                                    <p id="empName">{{ leave.profile.idNo }} {{ leave.profile.fullnameLast }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="position" style="font-size: 8pt; color: teal;">Position</label>
                                    <p id="position">{{ leave.profile.fullDescription }}</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <div class="form-group">
                                    <label for="sg" style="font-size: 8pt; color: teal;">SG Level</label>
                                    <p id="sg">{{ leave.profile.sg }}</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="officeName" style="font-size: 8pt; color: teal;">Office</label>
                                    <p id="officeName">{{ leave.profile.officeName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="type" style="font-size: 8pt; color: teal;">LEAVE TYPE</label>
                                    <p id="type" v-if="leave.IsVLUsedAsSL==true">
                                        <b>SICK LEAVE</b>
                                        <br />(Using VACATION LEAVE CREDIT)
                                    </p>
                                    <p id="type" v-else>
                                        <b>{{ leave.LeaveDescription }}</b>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="location" style="font-size: 8pt; color: teal;">WHERE LEAVE WILL BE SPENT</label>
                                    <p id="location">{{ leave.place }} {{ leave.location }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="commutation" style="font-size: 8pt; color: teal;">COMMUTATION REQUESTED?</label>
                                    <p id="commutation">{{ leave.commutation == 1 ? "YES" : "NO" }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="applyDay" style="font-size: 8pt; color: teal;">DAYS APPLIED</label>
                                    <p id="applyDay">{{ leave.applyDay }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="periodFrom" style="font-size: 8pt; color: teal;">PERIOD: FROM</label>
                                    <p id="periodFrom">{{ leave.periodFrom|redenDateFormat }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="periodTo" style="font-size: 8pt; color: teal;">PERIOD: TO</label>
                                    <p id="periodTo">{{ leave.periodTo|redenDateFormat }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="status" style="font-size: 8pt; color: teal;">STATUS</label>
                                    <p id="status" v-if="leave.IsRecommendedAtHR==true">
                                        <b>RECOMMENDED</b>
                                    </p>
                                    <p id="status" v-if="leave.IsRecommendedAtHR==false">
                                        <b>DENIED</b>
                                    </p>
                                    <p id="status" v-if="leave.IsRecommendedAtHR==null">
                                        <b>NOT YET ACTED</b>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="" style="font-size: 8pt; color: teal;">ACTION</label><br />
                                    <button id="" type="button" class="btn btn-info btn-block" title="Print leave credits..."
                                            v-on:click="printPreview(leave)">
                                        <span class="glyphicon glyphicon-print"></span> PRINT LEAVE CREDITS
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    var serverUrl = string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"));
    var controllerUrl = Url.Content("~") + controllerName;
}
@Scripts.Render("~/Scripts/app/" + controllerName + "/recommend.js")

@Scripts.Render("~/Scripts/app/" + controllerName + "/vue-recommend.js")